html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Oswald", sans-serif;
}

.contenedor {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-family: "Gothic A1", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

.hero {
  height: 100vh;
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero .contenedor {
  height: 100vh;
  display: grid;
  align-content: center;
}

.hero .contenido {
  text-align: center;
  color: #ffffff;
}

.hero .contenido .titulo {
  margin: 0;
}

.hero .contenido .subtitulo {
  font-size: 1.6rem;
}
