// Fonts
$fuentePrincipal: 'Gothic A1', sans-serif;
$fuenteSecundaria: 'Oswald', sans-serif;

// Colors
$primario: #f1a94e;
$secundario: #44b3c2;
$claro: #ffffff;
$oscuro: #5b5b5b;

// Media Queries
$telefone: 480px;
$tablet: 768px;
$desktop: 1200px;